<img class="cover" [appLazy]="game().cover" [alt]="game().title" />
@let category = game().category;
<span class="category">
  @switch (category) {
    @case ('family') {
      Семейная
    }
    @case ('strategy') {
      Стратегия
    }
    @case ('party') {
      Для компании
    }
    @case ('cooperative') {
      Кооперативная
    }
    @case ('kids') {
      Детская
    }
    @default never;
  }
</span>
<div class="stickers">
  <ng-content select="[sticker]" />
</div>
<h2 class="title">
  <button class="title-button" (click)="open.emit()">{{ game().title }}</button>
</h2>
<app-rating [value]="game().rating" readonly [appTooltip]="'Рейтинг ' + (game().rating | number)" />
<p class="meta">
  <span>{{ game().players | players }}</span>
  <span>{{ game().playTime | duration }}</span>
</p>
<p class="price">
  {{ game().price | price }}
  @if (game().oldPrice; as oldPrice) {
    <s class="old-price">{{ oldPrice | price }}</s>
  }
</p>
@if (game().inStock === 0) {
  <p class="stock stock-out">Нет в наличии</p>
} @else if (game().inStock <= fewLeft) {
  <p class="stock stock-few">Осталось {{ game().inStock }} шт.</p>
} @else {
  <p class="stock stock-ok">В наличии</p>
}
<button class="button" [disabled]="inCart() >= game().inStock" (click)="cart.add(game())">В корзину</button>
@if (inCart() > 0) {
  <p class="in-cart muted">В корзине: {{ inCart() }} шт.</p>
}
